$white:#ffffff;
$black: #323232;
.body {
    display: grid;
    grid-template-rows: 1fr 103px;
    min-height: 100vh;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: $white;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    background-color: #9D8B84;
    &__inner {
        position: relative;
    }
}

// END body
.button {
    padding: 14px 19px 13px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 70px;
    border: none;
    cursor: pointer;
    &--text-decoration {
        padding: 12px 22px;
    }
}

// END button
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    color: $white;
    &__nav {
        display: flex;
        align-items: center;
        padding: 9px 0 2px;
    }
    &__logo {
        margin-right: 11px;
    }
    &__logo-img {}
    &__site-list {
        display: flex;
        margin-right: auto;
    }
    &__site-item {
        margin-right: 6px;
        padding: 9px 13px 11px;
        line-height: 18px;
        font-weight: 700;
        color: $white;
        border-radius: 26px;
        transition: all 0.2s linear;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $black;
            background-color: $white;
        }
    }
    &__site-link {
        border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: 0.2);
    }
    &__site-img {}
    &__user-list {
        display: flex;
    }
    &__user-item {
        margin-right: 10px;
        padding: 6px;
        background-color: rgba($color: #FFFFFF, $alpha: 0.2);
        border-radius: 16px;
        path {
            fill: $white;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $white;
            * {
                color: $black;
            }
            path {
                fill: $black;
            }
        }
    }
    &__user-btn {
        display: flex;
        align-items: center;
        padding: 0;
        color: $white;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        svg {
            display: inline-block;
        }
    }
    &__user-btn--search {
        padding: 0 2px;
    }
    &__user-btn--width-text {
        padding: 0 10px;
        border-radius: 20px;
        svg {
            margin-right: 8px;
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__contact-hours {
        margin-bottom: 8px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
    }
    &__contact-tel {
        font-weight: bold;
        font-size: 22px;
        line-height: 24px;
    }
    &__contact-phone-number {}
}

// END header
.container {
    width: 1200px;
    padding: 0 27px;
    margin: 0 auto;
}

.slider {
    display: grid;
    grid-template-rows: 1fr 332px;
    margin-bottom: 40px;
    &__list {
        grid-column: 1/2;
        grid-row: 1/3;
        z-index: -20;
        padding: 0;
        height: 876px;
    }
    &__item {
        position: relative;
        // width: 100%;
        // height: 100%;
        // max-width: 639px;
        // max-height: 582px;
        // background: rgba(239, 224, 218, 0.75);
        // filter: blur(250px);
    }
    &__img {}
    &__text {
        position: absolute;
        z-index: 20;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 672px;
        font-weight: bold;
        font-size: 60px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
    }
    &__content {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    &__controls {
        display: flex;
        align-items: center;
        margin-bottom: 41px;
    }
    &__controls-list {
        display: flex;
        padding-bottom: 8px;
    }
    &__controls-item {
        margin-right: 8px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__controls-btn {
        width: 21px;
        height: 21px;
        background-color: transparent;
        border: 2px #FFFFFF solid;
        border-radius: 50%;
        transition: background-color 0.2s linear;
        cursor: pointer;
        &:hover {
            background-color: $white;
        }
    }
    &__get-btn-wrapper {
        flex-grow: 1;
        display: grid;
        justify-content: center;
        padding-right: 97px;
    }
    &__controls-get-btn {
        padding: 9px 23px;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: 0.05em;
    }
    &__offers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 26px;
    }
    &__offers-col {
        display: grid;
        position: relative;
        border-radius: 16px;
    }
    &__offers-bg {
        grid-column: 1/2;
        grid-row: 1/2;
        border-radius: 16px;
    }
    &__offers-wrapper {
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 20;
        padding: 16px 22px 22px 16px;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    &__offers-title {
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 35px;
        line-height: 41px;
    }
    &__offers-text {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }
    &__btn-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}

// END slider
.best {
    margin-bottom: 40px;
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 26px;
    }
    &__item {}
    &__wrapper {
        display: grid;
        grid-template-rows: 1fr auto;
        position: relative;
        margin-bottom: 13px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 61px;
            height: 61px;
            background-image: url(../img/best/heat.png);
        }
    }
    &__img {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    &__price {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-bottom: 13px;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
    }
    &__price-number {
        font-size: 45px;
        line-height: 45px;
    }
    &__description {
        text-align: center;
    }
}

// END best
.features {
    margin-bottom: 40px;
    &__inner {
        padding: 24px 20px 29px;
        color: $black;
        background-image: url(../img/features/pattern.jpg);
        background-position: 0 0;
        background-repeat: repeat;
        border-radius: 16px;
    }
    &__header {
        margin-bottom: 7px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
    }
    &__subtitle {}
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 26px;
        grid-row-gap: 12px;
    }
    &__item {
        display: flex;
        align-items: flex-start;
    }
    &__icon {
        margin-right: 6px;
    }
    &__text {
        padding-top: 10px;
    }
}

// END features
.blog {
    margin-bottom: 40px;
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 26px;
    }
    &__item {
        display: grid;
        color: $black;
        border-radius: 16px;
    }
    &__img {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &__wrapper {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 23px 20px;
    }
    &__wrapper--hight-title {
        padding-top: 19px;
        padding-bottom: 19px;
    }
    &__wrapper--full-height {
        display: grid;
        grid-template-rows: 1fr auto;
        padding: 30px 26px 40px;
    }
    &__item-title {
        margin-bottom: 2px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }
    &__link {
        display: block;
        width: 287px;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        /* or 137% */
        color: #5A5A5A;
    }
    &__from {
        display: flex;
        align-items: center;
    }
    &__input {
        flex-grow: 1;
        padding: 12px 14px 12px;
        margin-right: 10px;
        background: #FFFFFF;
        border: 1px solid rgba(178, 178, 178, 0.52);
        border-radius: 6px;
        &::placeholder {
            font-size: 16px;
            line-height: 24px;
            color: #999999;
        }
    }
    &__btn {
        padding: 10px 19px;
    }
}

// END blog
.map {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    &__iframe {
        display: block;
        width: 100%;
    }
    &__content {
        position: absolute;
        top: 50%;
        right: 27px;
        transform: translateY(-50%);
        padding: 29px 25px;
        width: 303px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $black;
        background-color: $white;
        border-radius: 16px;
    }
    &__address {
        margin-bottom: 22px;
    }
    &__bold {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
    }
    &__tel {
        margin-bottom: 30px;
    }
    &__btn {
        padding: 10px 28px 9px;
    }
}